package ${package}.${moduleName}.controller;

import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import ${package}.${moduleName}.param.${paramName};
import ${package}.${moduleName}.param.${queryParamName};
import ${package}.${moduleName}.result.${resultName};
import ${package}.${moduleName}.service.${className}Service;
import lombok.RequiredArgsConstructor;
import org.springframework.web.bind.annotation.*;
import com.smart.starter.core.model.*;

/**
 * ${comments}
 *
 * @author ${author}
 * @date ${datetime}
 */
@RestController
@RequiredArgsConstructor
@RequestMapping("/${pathName}")
public class ${className}Controller extends BaseController  {

    private final  ${className}Service ${classname}Service;

    /**
     * 简单分页查询
     * @param param
     * @return
     */
    @GetMapping("/page")
    public ApiResult<Page<${resultName}>> page(@RequestBody ${queryParamName} param) {
      Page<${resultName}> page = getPage(param);
      ${classname}Service.listPage(page,param);
      return ApiResult.success(page);
    }


    /**
     * 通过id查询单条记录
     * @param ${pk.lowerAttrName}
     * @return
     */
    @GetMapping("/{${pk.lowerAttrName}}")
    public ApiResult<${resultName}> get(@PathVariable("${pk.lowerAttrName}") ${pk.attrType} ${pk.lowerAttrName}){
      return ApiResult.success(${classname}Service.get(${pk.lowerAttrName}));
    }

    /**
     * 新增记录
     * @param param
     * @return
     */
    @PostMapping
    public ApiResult save(@RequestBody ${paramName} param){
      return ApiResult.success(${classname}Service.save(param));
    }

    /**
     * 修改记录
     * @param param
     * @return
     */
    @PutMapping
    public ApiResult update(@RequestBody ${paramName} param){
      return ApiResult.success(${classname}Service.updateById(param));
    }

    /**
     * 通过id删除一条记录
     * @param ${pk.lowerAttrName}
     * @return
     */
    @DeleteMapping("/{${pk.lowerAttrName}}")
    public ApiResult removeById(@PathVariable ${pk.attrType} ${pk.lowerAttrName}){
      return ApiResult.success(${classname}Service.removeById(${pk.lowerAttrName}));
    }

}
