package ${package}.${moduleName}.param;


import lombok.Data;
#if(${hasBigDecimal})
import java.math.BigDecimal;
#end
import java.io.Serializable;
import java.time.LocalDateTime;
import io.swagger.annotations.ApiModelProperty;

/**
 * ${comments}参数
 *
 * @author ${author}
 * @date ${datetime}
 */
@Data
public class ${paramName} implements Serializable{
  private static final long serialVersionUID=1L;

#foreach ($column in $columns)
  /**
   * $column.comments
   */
  @ApiModelProperty("$column.comments")
  private $column.attrType $column.lowerAttrName;
#end

}
