package ${package}.${moduleName}.param;


import lombok.Data;
#if(${hasBigDecimal})
import java.math.BigDecimal;
#end
import java.time.LocalDateTime;
import io.swagger.annotations.ApiModelProperty;
import com.smart.starter.core.model.PageParam;
/**
 * ${comments}查询参数
 *
 * @author ${author}
 * @date ${datetime}
 */
@Data
public class ${queryParamName} extends PageParam{

#foreach ($column in $columns)
    /**
     * $column.comments
     */
    @ApiModelProperty("$column.comments")
    private $column.attrType $column.lowerAttrName;
#end

}
