package ${package}.${moduleName}.service.impl;

import com.baomidou.mybatisplus.core.conditions.query.QueryWrapper;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import com.baomidou.mybatisplus.extension.service.impl.ServiceImpl;
import ${package}.${moduleName}.entity.${entityName};
import ${package}.${moduleName}.param.${paramName};
import ${package}.${moduleName}.param.${queryParamName};
import ${package}.${moduleName}.result.${resultName};
import ${package}.${moduleName}.mapper.${className}Mapper;
import ${package}.${moduleName}.service.${className}Service;
import com.smart.starter.core.util.CopyUtils ;
import org.springframework.stereotype.Service;

/**
 * ${comments}
 *
 * @author ${author}
 * @date ${datetime}
 */
@Service
public class ${className}ServiceImpl extends ServiceImpl<${className}Mapper, ${entityName}> implements ${className}Service {

    @Override
    public ${resultName} get(${pk.attrType} ${pk.lowerAttrName}) {
      ${entityName} entity = getById(${pk.lowerAttrName});
      ${resultName} result = CopyUtils.copyObject(entity, ${resultName}.class);
      return result;
    }

    @Override
    public Page<${resultName}> listPage(Page<${resultName}> page, ${queryParamName} param) {
      QueryWrapper<${entityName}> wrapper = new QueryWrapper();
      Page<${entityName}> entityPage = new Page<>();
      CopyUtils.copyObject(page,entityPage);
      page(entityPage, wrapper);
      CopyUtils.copyObject(entityPage,page);
      return page;
    }

    @Override
    public Boolean updateById(${paramName} param) {
      ${entityName} entity = CopyUtils.copyObject(param, ${entityName}.class);
      return updateById(entity);
    }

    @Override
    public Boolean save(${paramName} param) {
      ${entityName} entity = CopyUtils.copyObject(param, ${entityName}.class);
      return save(entity);
    }

}
