<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smart.admin.center.mapper.SysMenuMapper">

	<!-- 通用查询结果列 -->
	<sql id="Base_Column_List">
        id, code, name, permission, path, parent_code, icon, component, sort, type, create_time, update_time, del_flag
    </sql>

    <!--通过角色查询菜单信息-->
    <select id="listMenusByRoleId" resultType="SysMenuEntity">
		SELECT
			m.*
		FROM
			t_sys_menu m
		LEFT JOIN t_sys_role_menu rm ON m.id = rm.menu_id
		WHERE
			m.del_flag = 0
		AND rm.role_id = #{roleId}
    </select>

</mapper>
